.uno{
	border: 3px solid #F8BB29;
	padding: 10px 10px;
	width: 200px; 
    height: 250px;
    margin-bottom: 10px;
}
.dos{
	border: 3px solid #F8BB29;
	padding: 10px 10px;
	width: 200px; 
    height: 250px;
    margin-bottom: 10px;
}
.tres{
	border: 3px solid #F8BB29;
	padding: 10px 10px;
	width: 200px; 
    height: 250px;
    margin-bottom: 10px;
}